@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="home_introduction">
    <h1>Welcome to Mulderbert &amp; Co.</h1>
    <h2>Leading the way In Refrigeration since 1976</h2>
</div>
<div id="home_gallery">
   <img src="~/Images/imgCommericalFridge.jpg" alt="Walk-in Fridge Unit" />
   <img src="~/Images/imgSilverFridgeExpress.jpg" alt="Silver Swallow Fridge Fridge Unit" />
   <img src="~/Images/imgWindowedFridgeCommerical.jpg" alt="Window Display Commerical Fridge Unit" />
</div>