
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="about_us">
    <section id="about_left">
        <h2>Company History</h2>
        <p>
            Mulderbert &amp; Co. was founded in 1976 by Tom Mulderbert in his home city of Dublin, Ireland.
            The youngest of 8 brothers, Tom began working in refrigeration at the age of 16, working
            as an apprentice for two years before getting his first full-time job at the age of 18.
        </p>
        <p>
            Tom's passion for his work was clear from the beginning; Tom believes he
            has been involved in close to one thousand refrigeration installations in his home city alone.
        </p>
        <p>
            After 10 years of working for others, Tom decided it was time to take the reins himself and set up as a sole trader.
            From the shed in the family home, Tom took on jobs throughout the county of Dublin. He soon found that the demand for his services was more than he could handle alone. Even the small team he hired were finding it difficult to fulfil the increasing number of orders they were handling. Tom's work was receiving rave reviews and his services were now in demand beyond the borders of his home county.
        </p>
        <p>
            Tom rose to the challenge by expanding the operation and he set up his first dedicated warehouse on George's Street, Dublin with a team of 10 employees.
        </p>
        <p>
            With an ever-growing customer-base, the team has gone from strength to strength. Mulderbert &amp; Co. now employ over 100 workers, with roles in maintenence, production, administration and management to name but a few. The excellent standards that established the name as the standard for quality products and customer-service has been maintained and developed over the years with the same passion and attention to detail that our customers have come to know and expect.
        </p>
        <p> Mulderbert &amp; Co. is steeped in the tradition of Dublin and looks forward to many more years of trading and serving.</p>
    </section>
    <section id="about_middle">
        <h2>Our Promise To You</h2>
        <p>
            It is our aim to ensure that every product that we stock passes a rigorous set of tests before being shipped to you. We can assure you that all products are thoroughly inspected both mechanically and cosmetically.
        </p>
        <p>
            If, for any reason you are not satisfied with your order on delivery, please do not hesitate to contact our Customer Service Department. You can find a full list
            contact information on our @Html.ActionLink("Contacts page", "Index", "Contact") and we will do our
            utmost to assist you.
        </p>
        <p>
            Our service technicians are always on hand to help our customers with any queries they may have regarding their purchase.
            No matter what the issue, we are available to assist you with everything from installation to maintenence and repairs, if necessary.
        </p>
        <p>
            We believe our products and services cannot be beaten for value and quality in the refrigeration market. We are known equally for our outstanding customer-service; numerous industry awards attest to the same. When you experience the sevice we offer you will soon see why people have been
            coming back to Mulderbert &amp; Co. for almost 40 years.
        </p>
    </section>
    <aside id="about_right">
        <img src="~/Images/imgFridgeServices.jpg" alt="Fridge Services" />
        <br />
        <img src="~/Images/imgNewFridge.jpg" alt="New Fridge Image" />
    </aside>
</div>
